.experience{
    position: relative;
    padding: 150px 110px;
    padding-top: 0;
}

.ex-content{
    border-top: 2px solid #EEEEEE;
    padding-top: 128px;
}

.ex-header{
    line-height: 1.3;
}

.ex-header p{
    color: #272727;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.ex-header h2{
    font-size: 68px;
    font-family: "Abril Fatface", serif;
    color: #272727;
    font-weight: 100;
}

.tab{
    margin-top: 36px;
}

.tab-footer{
    display: flex;
    gap: 208px;
}

.tab nav ul{
    display: flex;
    list-style: none;
    gap: 49px;
}
.tab nav ul li a{
    color: #EEEEEE;
    font-size: 17px;
    font-weight: 500;
    color: #272727;
}

.tab-left{
    width: 50%;
}

.timeline{
    display: block;
}

.timeline::before{
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 25%;
    top: 339px;
    background-color: #eee;
    left: 116px;
}

.timeline-lebel{
    font-size: 14px;
    letter-spacing: 1px;
    position: absolute;
    transform: rotate(-90deg) translateX(25%);
    left: 66px;
    top: 55%;
}

.timeline-caption{
    left: 31px;
    top: 53px;
    position: relative;
    margin: 0 0 32px;
}

.timeline-caption::before{
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 15px;
    top: 10px;
    left: -31px;
}

.time-interval{
    color: #4aa8fa;
    font-family: "Abril Fatface", serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 0;
}

.time-underscore{
    font-family: "Abril Fatface", serif;
    font-size: 43px;
    letter-spacing: 3px;
    font-weight: 100;
}

.tab-right{
    width: 50%;
}



/*Media Query*/

@media screen and (max-width: 1280px){
    .experience{
        padding: 150px 82px;
    }

    .timeline-lebel{
        left: 44px;
        top: 61%;
    }

    .timeline::before{
        left: 95px;
        top: 51%;
        height: 21%;
    }

}